@font-face { 
    font-family: /*ici remplace arial par le nom de police, dans la source aussi*/ arial;
    src: "fonts/arial"
}

:root{
    --box-color: rgb(255, 255, 255);
    --box-nav-color: rgb(14, 13, 44);
    --dark-text: rgb(13, 2, 161);
    --bright-text: rgb(134, 127, 224);
    --text-font-size: 1.5em;
    --nav-background: rgba();
    --padding-top: 2em;
    --link: #924bd4;
}

img {
    float: right;
}

.autocomplete {
    position: relative;
    display: inline-block;
    /* margin-left: 40px;; */
}

.autocomplete input {
    border-radius: 0px;
    width: 300px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

#autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

#autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

#navheader {
    margin-bottom: 3em;
}

#navbutton {
    position: fixed;
    left: 301px;
    box-shadow: -10px 15px 15px rgba(0, 0, 0, 0.123);
}

#navbutton:hover {
    box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.411);
}

.category>li {
    position: absolute;
}

body {
    background-color: rgb(87, 56, 83);
    height: 100vh;
    font-family: /*remplace ça par le nom de la police custom*/arial;
    color: rgb(22, 22, 22);
}

.category-name-btn {
    padding: .3em .5em;
}

h1, h2 {
    text-align: center;
    font-family: "Segoe UI";
    color: var(--dark-text);
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin-top: .7em;
    margin-bottom: .5em;
}

.box-shadow {
    box-shadow: -5px 1px 40px rgba(0, 0, 0, 0.568);
}

h1.bright {
    color: var(--bright-text);
}

.categoryContent {
    display: none;
}

.footnote-item {
    font-size: 14px;
}

.categoryContent>li {
    line-height: 1;
    margin-top: .2em;
}

.categoryContent>li>button {
    background-color: rgb(233, 233, 233);
    padding: 0em 1em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.nav {
    width: 300px;
    height: 100vh;
    background-color: var(--box-nav-color);
    display: inline-block;
    position: fixed;
    left: 0;
    padding-top: var(--padding-top);
}

.black {
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
}

.content {
    position: absolute;
    background-color: var(--box-color);
    padding: var(--padding-top) 3em 0em 3em;
    line-height: 1.428;
    min-height: 100vh;
}

p {
    font-size: var(--text-font-size, 1em);
    text-align: justify;
    margin-bottom: 10px;
}

li {
    font-size: var(--text-font-size, 1em);
    
}

#category>ul {
    list-style: none;
    padding-left: 0;
}

#category>ul>li {
    margin: .3em 0em;
}

#category>ul>li>button {
    border-radius: 0px;
}

h2.bright {
    color: rgb(107, 101, 189);
}

a {
    color: var(--link);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Courier, monospace;
}

a:hover {
    color: #ff65ed;
    text-decoration: none;
}