:root{
    --box-color: rgb(255, 255, 255);
    --box-nav-color: rgb(14, 13, 44);
    --dark-text: rgb(13, 2, 161);
    --bright-text: rgb(134, 127, 224);
    --text-font-size: 1.5em;
    --nav-background: rgba();
    --padding-top: 2em;
    --link: #924bd4;
}

#navheader {
    margin-bottom: 3em;
}

#navbutton {
    position: fixed;
    left: 301px;
    box-shadow: -10px 15px 15px rgba(0, 0, 0, 0.123);
}

#navbutton:hover {
    box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.411);
}

body {
    background-color: rgb(87, 56, 83);
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(22, 22, 22);
}

.category-btn {
    padding: .1em .5em;
}

h1, h2 {
    text-align: center;
    font-family: "Segoe UI";
    color: var(--dark-text);
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin-top: .7em;
    margin-bottom: .5em;
}

.box-shadow {
    box-shadow: -5px 1px 40px rgba(0, 0, 0, 0.568);
}

h1.bright {
    color: var(--bright-text);
}

.nav {
    width: 300px;
    height: 100vh;
    background-color: var(--box-nav-color);
    display: inline-block;
    position: fixed;
    left: 0;
    padding-top: var(--padding-top);
}

.black {
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
}

.content {
    position: absolute;
    background-color: var(--box-color);
    padding: var(--padding-top) 3em 0em 3em;
    line-height: 1.428;
    min-height: 100vh;
}

p {
    font-size: var(--text-font-size, 1em);
    text-align: justify;
    margin-bottom: 10px;
}

li {
    font-size: var(--text-font-size, 1em);
    
}

#category>ul {
    list-style: none;
    padding-left: 0;
}

#category>ul>li {
    margin: .3em 0em;
}

#category>ul>li>button {
    border-radius: 0px;
}

h2.bright {
    color: rgb(107, 101, 189);
}

a {
    color: var(--link);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Courier, monospace;
}

a:hover {
    color: #ff65ed;
    text-decoration: none;
}